[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
pandas = "*"
scikit-learn = "*"
flask = "*"
python-dotenv = "*"
flask-pymongo = "*"
dnspython = "*"
pytz = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
